<mat-card class="flex-container-col">
  <form [formGroup]="signupForm">
    <div>
      <mat-form-field>
        <input matInput placeholder="email" formControlName="email" [(ngModel)]="value">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="password" formControlName="password" [(ngModel)]="value">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="first name" formControlName="firstName" [(ngModel)]="value">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="last name">
      </mat-form-field>
    </div>
  </form>
  <button mat-raised-button (click)="save()" [disabled]="!signupForm.dirty">Save</button>
</mat-card>

