.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url(/assets/stephan-valentin-345970-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image {
    border-radius: 3px;
    width: 500px;
    opacity: .8;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    width: 20%;
    margin: 4px;
}