<div class="flex-container">
  <mat-card style="width: 65%">
    <form [formGroup]="loginForm" class="flex-container">
      <mat-form-field>
        <input matInput placeholder="email" formControlName="email" [(ngModel)]="value" value="email@inmar.com">
      </mat-form-field>
      <mat-form-field style="margin-left: 5px;">
        <input type="password" matInput placeholder="password">
      </mat-form-field>
    </form>
    <div class="flex-container">
      <button mat-raised-button color="primary">Login</button>
      <button mat-raised-button routerLink="/signup">Sign Up</button>
    </div>
  </mat-card>
</div>

